/* COMMON STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: blanchedalmond;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-top: 25px;
    background-color: white;
}

.picture img {
    border-radius: 50%;
    padding: 15px;
}
.picture p{
    text-align: center;
}

li{
    font-size: 20px;
}
code{
    font-size: 15px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0px 0px 0px 50px;
}

/* HEADER */
.menu ul{ 
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu a{
    display: block;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(57, 38, 78);
}

a{
    text-decoration: none;
}


/* MAIN BODY */
.main-body{
    display: flex;
    flex: 1 1 auto;

}

.info {
    font-size: 35px;
    height: 354px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.position{
    font-size: 20px;
}

.contacts ul, .skills ul, .code-exes ul{
    list-style: none;
    padding: 0px 15px 15px 15px;
}

.contacts h2, .skills h2, .code-exes h2, .langs h2, .about-me h2, .education h2{
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0px 12px 0px;
}

.contacts li{
    text-decoration: none;
}

.contacts a{
    color: rgb(57, 38, 78);;
}

pre{
    background-color: rgb(231, 230, 230);
    padding: 0px 15px 0px 15px;
}

.langs ul, .education ul{
    padding: 0px 15px 15px 30px;
}

.education ul ul{
    padding: 0px 15px 0px 30px;
}

.about-me p{
    padding: 0px 15px 0px 0px;
    text-align: justify;
    text-indent: 25px;
    font-size: 20px;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
}


.year{
    font-size: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}





