/* COMMON STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: blanchedalmond;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-top: 25px;
    background-color: rgb(185, 245, 226);
}

.picture img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 15px;
}

.rsschool img {
    width: auto;
    height: 75px;
}

.picture p {
    text-align: center;
}

li {
    font-size: 20px;
}

code {
    font-size: 15px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 32%;
    background-color: rgb(30, 81, 105);
    color: rgb(185, 245, 226);
    border: 1px solid rgb(30, 81, 105);
    border-top-right-radius: 5%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 68%;
    padding: 0px 50px 0px 50px;
    background-color: rgb(185, 245, 226);
    color: rgb(30, 81, 105);
}

/* HEADER */
header {
    background-color: rgb(185, 245, 226);
}

.menu ul { 
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu a {
    display: block;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: rgb(30, 81, 105);
    transition: .5s;
}

.menu a:hover {
    background-color: rgb(30, 81, 105);
    color: rgb(185, 245, 226); 
}

/* MAIN BODY */
.main-body {
    display: flex;
    flex: 1 1 auto;

}

.info {
    font-size: 35px;
    height: 354px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid rgb(185, 245, 226);
    border-top-left-radius: 45%;
    border-bottom-right-radius: 45%; 
}

.position {
    font-size: 20px;
}

.contacts ul,
.skills ul,
.code-exes ul {
    list-style: none;
    padding: 0px 15px 15px 15px;
}

.contacts h2,
.skills h2, 
.code-exes h2, 
.langs h2, 
.about-me h2, 
.education h2,
.projects h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0px 12px 0px;
}

.contacts .email {
    background-image: url("assets/icons/email.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
}

.contacts .phone {
    background-image: url("assets/icons/phone.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
}

.contacts .github {
    background-image: url("assets/icons/github.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
}

.contacts .linkedin {
    background-image: url("assets/icons/linkedin.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
}

.contacts .discord {
    background-image: url("assets/icons/discord.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
}

.skills li, .contacts li {
    padding-bottom: 7px;
}

.skills .html {
    background-image: url("assets/icons/html.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
}

.skills .css {
    background-image: url("assets/icons/css.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
} 

.skills .js {
    background-image: url("assets/icons/js.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
}

.skills .python {
    background-image: url("assets/icons/python.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
} 

.skills .git {
    background-image: url("assets/icons/git.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
} 

.skills .editors {
    background-image: url("assets/icons/vs-code.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
} 

.contacts li {
    text-decoration: none;
}

.contacts a {
    color: rgb(185, 245, 226);
    text-decoration: none;
}

pre {
    background-color: rgb(9, 63, 88);
    color:rgb(129, 214, 187);
    padding: 0px 15px 0px 15px;
}

.blog a {
    color: rgb(30, 81, 105);
    text-decoration: none;
}

.langs ul, 
.education ul {
    padding: 0px 15px 15px 30px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

ol > li {
    margin: 15px;
    list-style: none;
}

ol > li > div > h3 {
    margin-bottom: 10px;
    text-align: center;
}


.scale {
    width: 320px;
    height: 170px;
    transition: .3s;
}

.scale:hover {
    transform: scale(1.1);
}


.education ul ul {
    padding: 0px 15px 0px 30px;
}

.about-me p {
    padding: 0px 15px 0px 0px;
    text-align: justify;
    text-indent: 25px;
    font-size: 20px;
}

.name {
    font-weight: bold;
    font-size: 40px;
}

/* FOOTER */
footer {
    padding: 0px 20px;
    background-color: rgb(139, 226, 222);
    border: 1px solid rgb(139, 226, 222);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(139, 226, 222);
    border: 1px solid rgb(139, 226, 222);
}

.year {
    font-size: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}





